# SvelteKit
.svelte-kit
build
dist

# Node
node_modules
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Other
.netlify
.pnpm-store
